<roleFilter>
  <id>-21071077:14b33c29d5b:-7fe5</id>
  <name>roleFilter</name>
  <className>org.geoserver.security.filter.GeoServerRoleFilter</className>
  <httpResponseHeaderAttrForIncludedRoles>roles</httpResponseHeaderAttrForIncludedRoles>
  <roleConverterName>roleConverter</roleConverterName>
</roleFilter>